@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--background-light);
  color: #181114;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --primary: #fac638;
  --corporate-blue: #1e3a8a;
  --background-light: #f8f8f5;
  --background-dark: #231e0f;
}
